<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>_0</key>
		<string>_0.glif</string>
		<key>_1</key>
		<string>_1.glif</string>
		<key>_10</key>
		<string>_10.glif</string>
		<key>_100</key>
		<string>_100.glif</string>
		<key>_101</key>
		<string>_101.glif</string>
		<key>_102</key>
		<string>_102.glif</string>
		<key>_103</key>
		<string>_103.glif</string>
		<key>_104</key>
		<string>_104.glif</string>
		<key>_105</key>
		<string>_105.glif</string>
		<key>_106</key>
		<string>_106.glif</string>
		<key>_107</key>
		<string>_107.glif</string>
		<key>_108</key>
		<string>_108.glif</string>
		<key>_109</key>
		<string>_109.glif</string>
		<key>_11</key>
		<string>_11.glif</string>
		<key>_110</key>
		<string>_110.glif</string>
		<key>_111</key>
		<string>_111.glif</string>
		<key>_112</key>
		<string>_112.glif</string>
		<key>_113</key>
		<string>_113.glif</string>
		<key>_114</key>
		<string>_114.glif</string>
		<key>_115</key>
		<string>_115.glif</string>
		<key>_116</key>
		<string>_116.glif</string>
		<key>_117</key>
		<string>_117.glif</string>
		<key>_118</key>
		<string>_118.glif</string>
		<key>_119</key>
		<string>_119.glif</string>
		<key>_12</key>
		<string>_12.glif</string>
		<key>_120</key>
		<string>_120.glif</string>
		<key>_121</key>
		<string>_121.glif</string>
		<key>_122</key>
		<string>_122.glif</string>
		<key>_123</key>
		<string>_123.glif</string>
		<key>_124</key>
		<string>_124.glif</string>
		<key>_125</key>
		<string>_125.glif</string>
		<key>_126</key>
		<string>_126.glif</string>
		<key>_127</key>
		<string>_127.glif</string>
		<key>_13</key>
		<string>_13.glif</string>
		<key>_14</key>
		<string>_14.glif</string>
		<key>_15</key>
		<string>_15.glif</string>
		<key>_16</key>
		<string>_16.glif</string>
		<key>_17</key>
		<string>_17.glif</string>
		<key>_18</key>
		<string>_18.glif</string>
		<key>_19</key>
		<string>_19.glif</string>
		<key>_2</key>
		<string>_2.glif</string>
		<key>_20</key>
		<string>_20.glif</string>
		<key>_21</key>
		<string>_21.glif</string>
		<key>_22</key>
		<string>_22.glif</string>
		<key>_23</key>
		<string>_23.glif</string>
		<key>_24</key>
		<string>_24.glif</string>
		<key>_25</key>
		<string>_25.glif</string>
		<key>_26</key>
		<string>_26.glif</string>
		<key>_27</key>
		<string>_27.glif</string>
		<key>_28</key>
		<string>_28.glif</string>
		<key>_29</key>
		<string>_29.glif</string>
		<key>_3</key>
		<string>_3.glif</string>
		<key>_30</key>
		<string>_30.glif</string>
		<key>_31</key>
		<string>_31.glif</string>
		<key>_32</key>
		<string>_32.glif</string>
		<key>_33</key>
		<string>_33.glif</string>
		<key>_34</key>
		<string>_34.glif</string>
		<key>_35</key>
		<string>_35.glif</string>
		<key>_36</key>
		<string>_36.glif</string>
		<key>_37</key>
		<string>_37.glif</string>
		<key>_38</key>
		<string>_38.glif</string>
		<key>_39</key>
		<string>_39.glif</string>
		<key>_4</key>
		<string>_4.glif</string>
		<key>_40</key>
		<string>_40.glif</string>
		<key>_41</key>
		<string>_41.glif</string>
		<key>_42</key>
		<string>_42.glif</string>
		<key>_43</key>
		<string>_43.glif</string>
		<key>_44</key>
		<string>_44.glif</string>
		<key>_45</key>
		<string>_45.glif</string>
		<key>_46</key>
		<string>_46.glif</string>
		<key>_47</key>
		<string>_47.glif</string>
		<key>_48</key>
		<string>_48.glif</string>
		<key>_49</key>
		<string>_49.glif</string>
		<key>_5</key>
		<string>_5.glif</string>
		<key>_50</key>
		<string>_50.glif</string>
		<key>_51</key>
		<string>_51.glif</string>
		<key>_52</key>
		<string>_52.glif</string>
		<key>_53</key>
		<string>_53.glif</string>
		<key>_54</key>
		<string>_54.glif</string>
		<key>_55</key>
		<string>_55.glif</string>
		<key>_56</key>
		<string>_56.glif</string>
		<key>_57</key>
		<string>_57.glif</string>
		<key>_58</key>
		<string>_58.glif</string>
		<key>_59</key>
		<string>_59.glif</string>
		<key>_6</key>
		<string>_6.glif</string>
		<key>_60</key>
		<string>_60.glif</string>
		<key>_61</key>
		<string>_61.glif</string>
		<key>_62</key>
		<string>_62.glif</string>
		<key>_63</key>
		<string>_63.glif</string>
		<key>_64</key>
		<string>_64.glif</string>
		<key>_65</key>
		<string>_65.glif</string>
		<key>_66</key>
		<string>_66.glif</string>
		<key>_67</key>
		<string>_67.glif</string>
		<key>_68</key>
		<string>_68.glif</string>
		<key>_69</key>
		<string>_69.glif</string>
		<key>_7</key>
		<string>_7.glif</string>
		<key>_70</key>
		<string>_70.glif</string>
		<key>_71</key>
		<string>_71.glif</string>
		<key>_72</key>
		<string>_72.glif</string>
		<key>_73</key>
		<string>_73.glif</string>
		<key>_74</key>
		<string>_74.glif</string>
		<key>_75</key>
		<string>_75.glif</string>
		<key>_76</key>
		<string>_76.glif</string>
		<key>_77</key>
		<string>_77.glif</string>
		<key>_78</key>
		<string>_78.glif</string>
		<key>_79</key>
		<string>_79.glif</string>
		<key>_8</key>
		<string>_8.glif</string>
		<key>_80</key>
		<string>_80.glif</string>
		<key>_81</key>
		<string>_81.glif</string>
		<key>_82</key>
		<string>_82.glif</string>
		<key>_83</key>
		<string>_83.glif</string>
		<key>_84</key>
		<string>_84.glif</string>
		<key>_85</key>
		<string>_85.glif</string>
		<key>_86</key>
		<string>_86.glif</string>
		<key>_87</key>
		<string>_87.glif</string>
		<key>_88</key>
		<string>_88.glif</string>
		<key>_89</key>
		<string>_89.glif</string>
		<key>_9</key>
		<string>_9.glif</string>
		<key>_90</key>
		<string>_90.glif</string>
		<key>_91</key>
		<string>_91.glif</string>
		<key>_92</key>
		<string>_92.glif</string>
		<key>_93</key>
		<string>_93.glif</string>
		<key>_94</key>
		<string>_94.glif</string>
		<key>_95</key>
		<string>_95.glif</string>
		<key>_96</key>
		<string>_96.glif</string>
		<key>_97</key>
		<string>_97.glif</string>
		<key>_98</key>
		<string>_98.glif</string>
		<key>_99</key>
		<string>_99.glif</string>
		<key>join</key>
		<string>join.glif</string>
		<key>point</key>
		<string>point.glif</string>
		<key>space</key>
		<string>space.glif</string>
		<key>to-0</key>
		<string>to-0.glif</string>
		<key>to-1</key>
		<string>to-1.glif</string>
		<key>to-10</key>
		<string>to-10.glif</string>
		<key>to-100</key>
		<string>to-100.glif</string>
		<key>to-101</key>
		<string>to-101.glif</string>
		<key>to-102</key>
		<string>to-102.glif</string>
		<key>to-103</key>
		<string>to-103.glif</string>
		<key>to-104</key>
		<string>to-104.glif</string>
		<key>to-105</key>
		<string>to-105.glif</string>
		<key>to-106</key>
		<string>to-106.glif</string>
		<key>to-107</key>
		<string>to-107.glif</string>
		<key>to-108</key>
		<string>to-108.glif</string>
		<key>to-109</key>
		<string>to-109.glif</string>
		<key>to-11</key>
		<string>to-11.glif</string>
		<key>to-110</key>
		<string>to-110.glif</string>
		<key>to-111</key>
		<string>to-111.glif</string>
		<key>to-112</key>
		<string>to-112.glif</string>
		<key>to-113</key>
		<string>to-113.glif</string>
		<key>to-114</key>
		<string>to-114.glif</string>
		<key>to-115</key>
		<string>to-115.glif</string>
		<key>to-116</key>
		<string>to-116.glif</string>
		<key>to-117</key>
		<string>to-117.glif</string>
		<key>to-118</key>
		<string>to-118.glif</string>
		<key>to-119</key>
		<string>to-119.glif</string>
		<key>to-12</key>
		<string>to-12.glif</string>
		<key>to-120</key>
		<string>to-120.glif</string>
		<key>to-121</key>
		<string>to-121.glif</string>
		<key>to-122</key>
		<string>to-122.glif</string>
		<key>to-123</key>
		<string>to-123.glif</string>
		<key>to-124</key>
		<string>to-124.glif</string>
		<key>to-125</key>
		<string>to-125.glif</string>
		<key>to-126</key>
		<string>to-126.glif</string>
		<key>to-127</key>
		<string>to-127.glif</string>
		<key>to-13</key>
		<string>to-13.glif</string>
		<key>to-14</key>
		<string>to-14.glif</string>
		<key>to-15</key>
		<string>to-15.glif</string>
		<key>to-16</key>
		<string>to-16.glif</string>
		<key>to-17</key>
		<string>to-17.glif</string>
		<key>to-18</key>
		<string>to-18.glif</string>
		<key>to-19</key>
		<string>to-19.glif</string>
		<key>to-2</key>
		<string>to-2.glif</string>
		<key>to-20</key>
		<string>to-20.glif</string>
		<key>to-21</key>
		<string>to-21.glif</string>
		<key>to-22</key>
		<string>to-22.glif</string>
		<key>to-23</key>
		<string>to-23.glif</string>
		<key>to-24</key>
		<string>to-24.glif</string>
		<key>to-25</key>
		<string>to-25.glif</string>
		<key>to-26</key>
		<string>to-26.glif</string>
		<key>to-27</key>
		<string>to-27.glif</string>
		<key>to-28</key>
		<string>to-28.glif</string>
		<key>to-29</key>
		<string>to-29.glif</string>
		<key>to-3</key>
		<string>to-3.glif</string>
		<key>to-30</key>
		<string>to-30.glif</string>
		<key>to-31</key>
		<string>to-31.glif</string>
		<key>to-32</key>
		<string>to-32.glif</string>
		<key>to-33</key>
		<string>to-33.glif</string>
		<key>to-34</key>
		<string>to-34.glif</string>
		<key>to-35</key>
		<string>to-35.glif</string>
		<key>to-36</key>
		<string>to-36.glif</string>
		<key>to-37</key>
		<string>to-37.glif</string>
		<key>to-38</key>
		<string>to-38.glif</string>
		<key>to-39</key>
		<string>to-39.glif</string>
		<key>to-4</key>
		<string>to-4.glif</string>
		<key>to-40</key>
		<string>to-40.glif</string>
		<key>to-41</key>
		<string>to-41.glif</string>
		<key>to-42</key>
		<string>to-42.glif</string>
		<key>to-43</key>
		<string>to-43.glif</string>
		<key>to-44</key>
		<string>to-44.glif</string>
		<key>to-45</key>
		<string>to-45.glif</string>
		<key>to-46</key>
		<string>to-46.glif</string>
		<key>to-47</key>
		<string>to-47.glif</string>
		<key>to-48</key>
		<string>to-48.glif</string>
		<key>to-49</key>
		<string>to-49.glif</string>
		<key>to-5</key>
		<string>to-5.glif</string>
		<key>to-50</key>
		<string>to-50.glif</string>
		<key>to-51</key>
		<string>to-51.glif</string>
		<key>to-52</key>
		<string>to-52.glif</string>
		<key>to-53</key>
		<string>to-53.glif</string>
		<key>to-54</key>
		<string>to-54.glif</string>
		<key>to-55</key>
		<string>to-55.glif</string>
		<key>to-56</key>
		<string>to-56.glif</string>
		<key>to-57</key>
		<string>to-57.glif</string>
		<key>to-58</key>
		<string>to-58.glif</string>
		<key>to-59</key>
		<string>to-59.glif</string>
		<key>to-6</key>
		<string>to-6.glif</string>
		<key>to-60</key>
		<string>to-60.glif</string>
		<key>to-61</key>
		<string>to-61.glif</string>
		<key>to-62</key>
		<string>to-62.glif</string>
		<key>to-63</key>
		<string>to-63.glif</string>
		<key>to-64</key>
		<string>to-64.glif</string>
		<key>to-65</key>
		<string>to-65.glif</string>
		<key>to-66</key>
		<string>to-66.glif</string>
		<key>to-67</key>
		<string>to-67.glif</string>
		<key>to-68</key>
		<string>to-68.glif</string>
		<key>to-69</key>
		<string>to-69.glif</string>
		<key>to-7</key>
		<string>to-7.glif</string>
		<key>to-70</key>
		<string>to-70.glif</string>
		<key>to-71</key>
		<string>to-71.glif</string>
		<key>to-72</key>
		<string>to-72.glif</string>
		<key>to-73</key>
		<string>to-73.glif</string>
		<key>to-74</key>
		<string>to-74.glif</string>
		<key>to-75</key>
		<string>to-75.glif</string>
		<key>to-76</key>
		<string>to-76.glif</string>
		<key>to-77</key>
		<string>to-77.glif</string>
		<key>to-78</key>
		<string>to-78.glif</string>
		<key>to-79</key>
		<string>to-79.glif</string>
		<key>to-8</key>
		<string>to-8.glif</string>
		<key>to-80</key>
		<string>to-80.glif</string>
		<key>to-81</key>
		<string>to-81.glif</string>
		<key>to-82</key>
		<string>to-82.glif</string>
		<key>to-83</key>
		<string>to-83.glif</string>
		<key>to-84</key>
		<string>to-84.glif</string>
		<key>to-85</key>
		<string>to-85.glif</string>
		<key>to-86</key>
		<string>to-86.glif</string>
		<key>to-87</key>
		<string>to-87.glif</string>
		<key>to-88</key>
		<string>to-88.glif</string>
		<key>to-89</key>
		<string>to-89.glif</string>
		<key>to-9</key>
		<string>to-9.glif</string>
		<key>to-90</key>
		<string>to-90.glif</string>
		<key>to-91</key>
		<string>to-91.glif</string>
		<key>to-92</key>
		<string>to-92.glif</string>
		<key>to-93</key>
		<string>to-93.glif</string>
		<key>to-94</key>
		<string>to-94.glif</string>
		<key>to-95</key>
		<string>to-95.glif</string>
		<key>to-96</key>
		<string>to-96.glif</string>
		<key>to-97</key>
		<string>to-97.glif</string>
		<key>to-98</key>
		<string>to-98.glif</string>
		<key>to-99</key>
		<string>to-99.glif</string>
		<key>to0</key>
		<string>to0.glif</string>
		<key>to1</key>
		<string>to1.glif</string>
		<key>to10</key>
		<string>to10.glif</string>
		<key>to100</key>
		<string>to100.glif</string>
		<key>to101</key>
		<string>to101.glif</string>
		<key>to102</key>
		<string>to102.glif</string>
		<key>to103</key>
		<string>to103.glif</string>
		<key>to104</key>
		<string>to104.glif</string>
		<key>to105</key>
		<string>to105.glif</string>
		<key>to106</key>
		<string>to106.glif</string>
		<key>to107</key>
		<string>to107.glif</string>
		<key>to108</key>
		<string>to108.glif</string>
		<key>to109</key>
		<string>to109.glif</string>
		<key>to11</key>
		<string>to11.glif</string>
		<key>to110</key>
		<string>to110.glif</string>
		<key>to111</key>
		<string>to111.glif</string>
		<key>to112</key>
		<string>to112.glif</string>
		<key>to113</key>
		<string>to113.glif</string>
		<key>to114</key>
		<string>to114.glif</string>
		<key>to115</key>
		<string>to115.glif</string>
		<key>to116</key>
		<string>to116.glif</string>
		<key>to117</key>
		<string>to117.glif</string>
		<key>to118</key>
		<string>to118.glif</string>
		<key>to119</key>
		<string>to119.glif</string>
		<key>to12</key>
		<string>to12.glif</string>
		<key>to120</key>
		<string>to120.glif</string>
		<key>to121</key>
		<string>to121.glif</string>
		<key>to122</key>
		<string>to122.glif</string>
		<key>to123</key>
		<string>to123.glif</string>
		<key>to124</key>
		<string>to124.glif</string>
		<key>to125</key>
		<string>to125.glif</string>
		<key>to126</key>
		<string>to126.glif</string>
		<key>to127</key>
		<string>to127.glif</string>
		<key>to13</key>
		<string>to13.glif</string>
		<key>to14</key>
		<string>to14.glif</string>
		<key>to15</key>
		<string>to15.glif</string>
		<key>to16</key>
		<string>to16.glif</string>
		<key>to17</key>
		<string>to17.glif</string>
		<key>to18</key>
		<string>to18.glif</string>
		<key>to19</key>
		<string>to19.glif</string>
		<key>to2</key>
		<string>to2.glif</string>
		<key>to20</key>
		<string>to20.glif</string>
		<key>to21</key>
		<string>to21.glif</string>
		<key>to22</key>
		<string>to22.glif</string>
		<key>to23</key>
		<string>to23.glif</string>
		<key>to24</key>
		<string>to24.glif</string>
		<key>to25</key>
		<string>to25.glif</string>
		<key>to26</key>
		<string>to26.glif</string>
		<key>to27</key>
		<string>to27.glif</string>
		<key>to28</key>
		<string>to28.glif</string>
		<key>to29</key>
		<string>to29.glif</string>
		<key>to3</key>
		<string>to3.glif</string>
		<key>to30</key>
		<string>to30.glif</string>
		<key>to31</key>
		<string>to31.glif</string>
		<key>to32</key>
		<string>to32.glif</string>
		<key>to33</key>
		<string>to33.glif</string>
		<key>to34</key>
		<string>to34.glif</string>
		<key>to35</key>
		<string>to35.glif</string>
		<key>to36</key>
		<string>to36.glif</string>
		<key>to37</key>
		<string>to37.glif</string>
		<key>to38</key>
		<string>to38.glif</string>
		<key>to39</key>
		<string>to39.glif</string>
		<key>to4</key>
		<string>to4.glif</string>
		<key>to40</key>
		<string>to40.glif</string>
		<key>to41</key>
		<string>to41.glif</string>
		<key>to42</key>
		<string>to42.glif</string>
		<key>to43</key>
		<string>to43.glif</string>
		<key>to44</key>
		<string>to44.glif</string>
		<key>to45</key>
		<string>to45.glif</string>
		<key>to46</key>
		<string>to46.glif</string>
		<key>to47</key>
		<string>to47.glif</string>
		<key>to48</key>
		<string>to48.glif</string>
		<key>to49</key>
		<string>to49.glif</string>
		<key>to5</key>
		<string>to5.glif</string>
		<key>to50</key>
		<string>to50.glif</string>
		<key>to51</key>
		<string>to51.glif</string>
		<key>to52</key>
		<string>to52.glif</string>
		<key>to53</key>
		<string>to53.glif</string>
		<key>to54</key>
		<string>to54.glif</string>
		<key>to55</key>
		<string>to55.glif</string>
		<key>to56</key>
		<string>to56.glif</string>
		<key>to57</key>
		<string>to57.glif</string>
		<key>to58</key>
		<string>to58.glif</string>
		<key>to59</key>
		<string>to59.glif</string>
		<key>to6</key>
		<string>to6.glif</string>
		<key>to60</key>
		<string>to60.glif</string>
		<key>to61</key>
		<string>to61.glif</string>
		<key>to62</key>
		<string>to62.glif</string>
		<key>to63</key>
		<string>to63.glif</string>
		<key>to64</key>
		<string>to64.glif</string>
		<key>to65</key>
		<string>to65.glif</string>
		<key>to66</key>
		<string>to66.glif</string>
		<key>to67</key>
		<string>to67.glif</string>
		<key>to68</key>
		<string>to68.glif</string>
		<key>to69</key>
		<string>to69.glif</string>
		<key>to7</key>
		<string>to7.glif</string>
		<key>to70</key>
		<string>to70.glif</string>
		<key>to71</key>
		<string>to71.glif</string>
		<key>to72</key>
		<string>to72.glif</string>
		<key>to73</key>
		<string>to73.glif</string>
		<key>to74</key>
		<string>to74.glif</string>
		<key>to75</key>
		<string>to75.glif</string>
		<key>to76</key>
		<string>to76.glif</string>
		<key>to77</key>
		<string>to77.glif</string>
		<key>to78</key>
		<string>to78.glif</string>
		<key>to79</key>
		<string>to79.glif</string>
		<key>to8</key>
		<string>to8.glif</string>
		<key>to80</key>
		<string>to80.glif</string>
		<key>to81</key>
		<string>to81.glif</string>
		<key>to82</key>
		<string>to82.glif</string>
		<key>to83</key>
		<string>to83.glif</string>
		<key>to84</key>
		<string>to84.glif</string>
		<key>to85</key>
		<string>to85.glif</string>
		<key>to86</key>
		<string>to86.glif</string>
		<key>to87</key>
		<string>to87.glif</string>
		<key>to88</key>
		<string>to88.glif</string>
		<key>to89</key>
		<string>to89.glif</string>
		<key>to9</key>
		<string>to9.glif</string>
		<key>to90</key>
		<string>to90.glif</string>
		<key>to91</key>
		<string>to91.glif</string>
		<key>to92</key>
		<string>to92.glif</string>
		<key>to93</key>
		<string>to93.glif</string>
		<key>to94</key>
		<string>to94.glif</string>
		<key>to95</key>
		<string>to95.glif</string>
		<key>to96</key>
		<string>to96.glif</string>
		<key>to97</key>
		<string>to97.glif</string>
		<key>to98</key>
		<string>to98.glif</string>
		<key>to99</key>
		<string>to99.glif</string>
	</dict>
</plist>
