<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>.notdef</key>
		<string>_notdef.glif</string>
		<key>_0</key>
		<string>_0.glif</string>
		<key>_1</key>
		<string>_1.glif</string>
		<key>_10</key>
		<string>_10.glif</string>
		<key>_100</key>
		<string>_100.glif</string>
		<key>_101</key>
		<string>_101.glif</string>
		<key>_102</key>
		<string>_102.glif</string>
		<key>_103</key>
		<string>_103.glif</string>
		<key>_104</key>
		<string>_104.glif</string>
		<key>_105</key>
		<string>_105.glif</string>
		<key>_106</key>
		<string>_106.glif</string>
		<key>_107</key>
		<string>_107.glif</string>
		<key>_108</key>
		<string>_108.glif</string>
		<key>_109</key>
		<string>_109.glif</string>
		<key>_11</key>
		<string>_11.glif</string>
		<key>_110</key>
		<string>_110.glif</string>
		<key>_111</key>
		<string>_111.glif</string>
		<key>_112</key>
		<string>_112.glif</string>
		<key>_113</key>
		<string>_113.glif</string>
		<key>_114</key>
		<string>_114.glif</string>
		<key>_115</key>
		<string>_115.glif</string>
		<key>_116</key>
		<string>_116.glif</string>
		<key>_117</key>
		<string>_117.glif</string>
		<key>_118</key>
		<string>_118.glif</string>
		<key>_119</key>
		<string>_119.glif</string>
		<key>_12</key>
		<string>_12.glif</string>
		<key>_120</key>
		<string>_120.glif</string>
		<key>_121</key>
		<string>_121.glif</string>
		<key>_122</key>
		<string>_122.glif</string>
		<key>_123</key>
		<string>_123.glif</string>
		<key>_124</key>
		<string>_124.glif</string>
		<key>_125</key>
		<string>_125.glif</string>
		<key>_126</key>
		<string>_126.glif</string>
		<key>_127</key>
		<string>_127.glif</string>
		<key>_13</key>
		<string>_13.glif</string>
		<key>_14</key>
		<string>_14.glif</string>
		<key>_15</key>
		<string>_15.glif</string>
		<key>_16</key>
		<string>_16.glif</string>
		<key>_17</key>
		<string>_17.glif</string>
		<key>_18</key>
		<string>_18.glif</string>
		<key>_19</key>
		<string>_19.glif</string>
		<key>_2</key>
		<string>_2.glif</string>
		<key>_20</key>
		<string>_20.glif</string>
		<key>_21</key>
		<string>_21.glif</string>
		<key>_22</key>
		<string>_22.glif</string>
		<key>_23</key>
		<string>_23.glif</string>
		<key>_24</key>
		<string>_24.glif</string>
		<key>_25</key>
		<string>_25.glif</string>
		<key>_26</key>
		<string>_26.glif</string>
		<key>_27</key>
		<string>_27.glif</string>
		<key>_28</key>
		<string>_28.glif</string>
		<key>_29</key>
		<string>_29.glif</string>
		<key>_3</key>
		<string>_3.glif</string>
		<key>_30</key>
		<string>_30.glif</string>
		<key>_31</key>
		<string>_31.glif</string>
		<key>_32</key>
		<string>_32.glif</string>
		<key>_33</key>
		<string>_33.glif</string>
		<key>_34</key>
		<string>_34.glif</string>
		<key>_35</key>
		<string>_35.glif</string>
		<key>_36</key>
		<string>_36.glif</string>
		<key>_37</key>
		<string>_37.glif</string>
		<key>_38</key>
		<string>_38.glif</string>
		<key>_39</key>
		<string>_39.glif</string>
		<key>_4</key>
		<string>_4.glif</string>
		<key>_40</key>
		<string>_40.glif</string>
		<key>_41</key>
		<string>_41.glif</string>
		<key>_42</key>
		<string>_42.glif</string>
		<key>_43</key>
		<string>_43.glif</string>
		<key>_44</key>
		<string>_44.glif</string>
		<key>_45</key>
		<string>_45.glif</string>
		<key>_46</key>
		<string>_46.glif</string>
		<key>_47</key>
		<string>_47.glif</string>
		<key>_48</key>
		<string>_48.glif</string>
		<key>_49</key>
		<string>_49.glif</string>
		<key>_5</key>
		<string>_5.glif</string>
		<key>_50</key>
		<string>_50.glif</string>
		<key>_51</key>
		<string>_51.glif</string>
		<key>_52</key>
		<string>_52.glif</string>
		<key>_53</key>
		<string>_53.glif</string>
		<key>_54</key>
		<string>_54.glif</string>
		<key>_55</key>
		<string>_55.glif</string>
		<key>_56</key>
		<string>_56.glif</string>
		<key>_57</key>
		<string>_57.glif</string>
		<key>_58</key>
		<string>_58.glif</string>
		<key>_59</key>
		<string>_59.glif</string>
		<key>_6</key>
		<string>_6.glif</string>
		<key>_60</key>
		<string>_60.glif</string>
		<key>_61</key>
		<string>_61.glif</string>
		<key>_62</key>
		<string>_62.glif</string>
		<key>_63</key>
		<string>_63.glif</string>
		<key>_64</key>
		<string>_64.glif</string>
		<key>_65</key>
		<string>_65.glif</string>
		<key>_66</key>
		<string>_66.glif</string>
		<key>_67</key>
		<string>_67.glif</string>
		<key>_68</key>
		<string>_68.glif</string>
		<key>_69</key>
		<string>_69.glif</string>
		<key>_7</key>
		<string>_7.glif</string>
		<key>_70</key>
		<string>_70.glif</string>
		<key>_71</key>
		<string>_71.glif</string>
		<key>_72</key>
		<string>_72.glif</string>
		<key>_73</key>
		<string>_73.glif</string>
		<key>_74</key>
		<string>_74.glif</string>
		<key>_75</key>
		<string>_75.glif</string>
		<key>_76</key>
		<string>_76.glif</string>
		<key>_77</key>
		<string>_77.glif</string>
		<key>_78</key>
		<string>_78.glif</string>
		<key>_79</key>
		<string>_79.glif</string>
		<key>_8</key>
		<string>_8.glif</string>
		<key>_80</key>
		<string>_80.glif</string>
		<key>_81</key>
		<string>_81.glif</string>
		<key>_82</key>
		<string>_82.glif</string>
		<key>_83</key>
		<string>_83.glif</string>
		<key>_84</key>
		<string>_84.glif</string>
		<key>_85</key>
		<string>_85.glif</string>
		<key>_86</key>
		<string>_86.glif</string>
		<key>_87</key>
		<string>_87.glif</string>
		<key>_88</key>
		<string>_88.glif</string>
		<key>_89</key>
		<string>_89.glif</string>
		<key>_9</key>
		<string>_9.glif</string>
		<key>_90</key>
		<string>_90.glif</string>
		<key>_91</key>
		<string>_91.glif</string>
		<key>_92</key>
		<string>_92.glif</string>
		<key>_93</key>
		<string>_93.glif</string>
		<key>_94</key>
		<string>_94.glif</string>
		<key>_95</key>
		<string>_95.glif</string>
		<key>_96</key>
		<string>_96.glif</string>
		<key>_97</key>
		<string>_97.glif</string>
		<key>_98</key>
		<string>_98.glif</string>
		<key>_99</key>
		<string>_99.glif</string>
		<key>join</key>
		<string>join.glif</string>
		<key>neg.0</key>
		<string>neg.0.glif</string>
		<key>neg.1</key>
		<string>neg.1.glif</string>
		<key>neg.10</key>
		<string>neg.10.glif</string>
		<key>neg.100</key>
		<string>neg.100.glif</string>
		<key>neg.101</key>
		<string>neg.101.glif</string>
		<key>neg.102</key>
		<string>neg.102.glif</string>
		<key>neg.103</key>
		<string>neg.103.glif</string>
		<key>neg.104</key>
		<string>neg.104.glif</string>
		<key>neg.105</key>
		<string>neg.105.glif</string>
		<key>neg.106</key>
		<string>neg.106.glif</string>
		<key>neg.107</key>
		<string>neg.107.glif</string>
		<key>neg.108</key>
		<string>neg.108.glif</string>
		<key>neg.109</key>
		<string>neg.109.glif</string>
		<key>neg.11</key>
		<string>neg.11.glif</string>
		<key>neg.110</key>
		<string>neg.110.glif</string>
		<key>neg.111</key>
		<string>neg.111.glif</string>
		<key>neg.112</key>
		<string>neg.112.glif</string>
		<key>neg.113</key>
		<string>neg.113.glif</string>
		<key>neg.114</key>
		<string>neg.114.glif</string>
		<key>neg.115</key>
		<string>neg.115.glif</string>
		<key>neg.116</key>
		<string>neg.116.glif</string>
		<key>neg.117</key>
		<string>neg.117.glif</string>
		<key>neg.118</key>
		<string>neg.118.glif</string>
		<key>neg.119</key>
		<string>neg.119.glif</string>
		<key>neg.12</key>
		<string>neg.12.glif</string>
		<key>neg.120</key>
		<string>neg.120.glif</string>
		<key>neg.121</key>
		<string>neg.121.glif</string>
		<key>neg.122</key>
		<string>neg.122.glif</string>
		<key>neg.123</key>
		<string>neg.123.glif</string>
		<key>neg.124</key>
		<string>neg.124.glif</string>
		<key>neg.125</key>
		<string>neg.125.glif</string>
		<key>neg.126</key>
		<string>neg.126.glif</string>
		<key>neg.127</key>
		<string>neg.127.glif</string>
		<key>neg.13</key>
		<string>neg.13.glif</string>
		<key>neg.14</key>
		<string>neg.14.glif</string>
		<key>neg.15</key>
		<string>neg.15.glif</string>
		<key>neg.16</key>
		<string>neg.16.glif</string>
		<key>neg.17</key>
		<string>neg.17.glif</string>
		<key>neg.18</key>
		<string>neg.18.glif</string>
		<key>neg.19</key>
		<string>neg.19.glif</string>
		<key>neg.2</key>
		<string>neg.2.glif</string>
		<key>neg.20</key>
		<string>neg.20.glif</string>
		<key>neg.21</key>
		<string>neg.21.glif</string>
		<key>neg.22</key>
		<string>neg.22.glif</string>
		<key>neg.23</key>
		<string>neg.23.glif</string>
		<key>neg.24</key>
		<string>neg.24.glif</string>
		<key>neg.25</key>
		<string>neg.25.glif</string>
		<key>neg.26</key>
		<string>neg.26.glif</string>
		<key>neg.27</key>
		<string>neg.27.glif</string>
		<key>neg.28</key>
		<string>neg.28.glif</string>
		<key>neg.29</key>
		<string>neg.29.glif</string>
		<key>neg.3</key>
		<string>neg.3.glif</string>
		<key>neg.30</key>
		<string>neg.30.glif</string>
		<key>neg.31</key>
		<string>neg.31.glif</string>
		<key>neg.32</key>
		<string>neg.32.glif</string>
		<key>neg.33</key>
		<string>neg.33.glif</string>
		<key>neg.34</key>
		<string>neg.34.glif</string>
		<key>neg.35</key>
		<string>neg.35.glif</string>
		<key>neg.36</key>
		<string>neg.36.glif</string>
		<key>neg.37</key>
		<string>neg.37.glif</string>
		<key>neg.38</key>
		<string>neg.38.glif</string>
		<key>neg.39</key>
		<string>neg.39.glif</string>
		<key>neg.4</key>
		<string>neg.4.glif</string>
		<key>neg.40</key>
		<string>neg.40.glif</string>
		<key>neg.41</key>
		<string>neg.41.glif</string>
		<key>neg.42</key>
		<string>neg.42.glif</string>
		<key>neg.43</key>
		<string>neg.43.glif</string>
		<key>neg.44</key>
		<string>neg.44.glif</string>
		<key>neg.45</key>
		<string>neg.45.glif</string>
		<key>neg.46</key>
		<string>neg.46.glif</string>
		<key>neg.47</key>
		<string>neg.47.glif</string>
		<key>neg.48</key>
		<string>neg.48.glif</string>
		<key>neg.49</key>
		<string>neg.49.glif</string>
		<key>neg.5</key>
		<string>neg.5.glif</string>
		<key>neg.50</key>
		<string>neg.50.glif</string>
		<key>neg.51</key>
		<string>neg.51.glif</string>
		<key>neg.52</key>
		<string>neg.52.glif</string>
		<key>neg.53</key>
		<string>neg.53.glif</string>
		<key>neg.54</key>
		<string>neg.54.glif</string>
		<key>neg.55</key>
		<string>neg.55.glif</string>
		<key>neg.56</key>
		<string>neg.56.glif</string>
		<key>neg.57</key>
		<string>neg.57.glif</string>
		<key>neg.58</key>
		<string>neg.58.glif</string>
		<key>neg.59</key>
		<string>neg.59.glif</string>
		<key>neg.6</key>
		<string>neg.6.glif</string>
		<key>neg.60</key>
		<string>neg.60.glif</string>
		<key>neg.61</key>
		<string>neg.61.glif</string>
		<key>neg.62</key>
		<string>neg.62.glif</string>
		<key>neg.63</key>
		<string>neg.63.glif</string>
		<key>neg.64</key>
		<string>neg.64.glif</string>
		<key>neg.65</key>
		<string>neg.65.glif</string>
		<key>neg.66</key>
		<string>neg.66.glif</string>
		<key>neg.67</key>
		<string>neg.67.glif</string>
		<key>neg.68</key>
		<string>neg.68.glif</string>
		<key>neg.69</key>
		<string>neg.69.glif</string>
		<key>neg.7</key>
		<string>neg.7.glif</string>
		<key>neg.70</key>
		<string>neg.70.glif</string>
		<key>neg.71</key>
		<string>neg.71.glif</string>
		<key>neg.72</key>
		<string>neg.72.glif</string>
		<key>neg.73</key>
		<string>neg.73.glif</string>
		<key>neg.74</key>
		<string>neg.74.glif</string>
		<key>neg.75</key>
		<string>neg.75.glif</string>
		<key>neg.76</key>
		<string>neg.76.glif</string>
		<key>neg.77</key>
		<string>neg.77.glif</string>
		<key>neg.78</key>
		<string>neg.78.glif</string>
		<key>neg.79</key>
		<string>neg.79.glif</string>
		<key>neg.8</key>
		<string>neg.8.glif</string>
		<key>neg.80</key>
		<string>neg.80.glif</string>
		<key>neg.81</key>
		<string>neg.81.glif</string>
		<key>neg.82</key>
		<string>neg.82.glif</string>
		<key>neg.83</key>
		<string>neg.83.glif</string>
		<key>neg.84</key>
		<string>neg.84.glif</string>
		<key>neg.85</key>
		<string>neg.85.glif</string>
		<key>neg.86</key>
		<string>neg.86.glif</string>
		<key>neg.87</key>
		<string>neg.87.glif</string>
		<key>neg.88</key>
		<string>neg.88.glif</string>
		<key>neg.89</key>
		<string>neg.89.glif</string>
		<key>neg.9</key>
		<string>neg.9.glif</string>
		<key>neg.90</key>
		<string>neg.90.glif</string>
		<key>neg.91</key>
		<string>neg.91.glif</string>
		<key>neg.92</key>
		<string>neg.92.glif</string>
		<key>neg.93</key>
		<string>neg.93.glif</string>
		<key>neg.94</key>
		<string>neg.94.glif</string>
		<key>neg.95</key>
		<string>neg.95.glif</string>
		<key>neg.96</key>
		<string>neg.96.glif</string>
		<key>neg.97</key>
		<string>neg.97.glif</string>
		<key>neg.98</key>
		<string>neg.98.glif</string>
		<key>neg.99</key>
		<string>neg.99.glif</string>
		<key>point</key>
		<string>point.glif</string>
		<key>pos.0</key>
		<string>pos.0.glif</string>
		<key>pos.1</key>
		<string>pos.1.glif</string>
		<key>pos.10</key>
		<string>pos.10.glif</string>
		<key>pos.100</key>
		<string>pos.100.glif</string>
		<key>pos.101</key>
		<string>pos.101.glif</string>
		<key>pos.102</key>
		<string>pos.102.glif</string>
		<key>pos.103</key>
		<string>pos.103.glif</string>
		<key>pos.104</key>
		<string>pos.104.glif</string>
		<key>pos.105</key>
		<string>pos.105.glif</string>
		<key>pos.106</key>
		<string>pos.106.glif</string>
		<key>pos.107</key>
		<string>pos.107.glif</string>
		<key>pos.108</key>
		<string>pos.108.glif</string>
		<key>pos.109</key>
		<string>pos.109.glif</string>
		<key>pos.11</key>
		<string>pos.11.glif</string>
		<key>pos.110</key>
		<string>pos.110.glif</string>
		<key>pos.111</key>
		<string>pos.111.glif</string>
		<key>pos.112</key>
		<string>pos.112.glif</string>
		<key>pos.113</key>
		<string>pos.113.glif</string>
		<key>pos.114</key>
		<string>pos.114.glif</string>
		<key>pos.115</key>
		<string>pos.115.glif</string>
		<key>pos.116</key>
		<string>pos.116.glif</string>
		<key>pos.117</key>
		<string>pos.117.glif</string>
		<key>pos.118</key>
		<string>pos.118.glif</string>
		<key>pos.119</key>
		<string>pos.119.glif</string>
		<key>pos.12</key>
		<string>pos.12.glif</string>
		<key>pos.120</key>
		<string>pos.120.glif</string>
		<key>pos.121</key>
		<string>pos.121.glif</string>
		<key>pos.122</key>
		<string>pos.122.glif</string>
		<key>pos.123</key>
		<string>pos.123.glif</string>
		<key>pos.124</key>
		<string>pos.124.glif</string>
		<key>pos.125</key>
		<string>pos.125.glif</string>
		<key>pos.126</key>
		<string>pos.126.glif</string>
		<key>pos.127</key>
		<string>pos.127.glif</string>
		<key>pos.13</key>
		<string>pos.13.glif</string>
		<key>pos.14</key>
		<string>pos.14.glif</string>
		<key>pos.15</key>
		<string>pos.15.glif</string>
		<key>pos.16</key>
		<string>pos.16.glif</string>
		<key>pos.17</key>
		<string>pos.17.glif</string>
		<key>pos.18</key>
		<string>pos.18.glif</string>
		<key>pos.19</key>
		<string>pos.19.glif</string>
		<key>pos.2</key>
		<string>pos.2.glif</string>
		<key>pos.20</key>
		<string>pos.20.glif</string>
		<key>pos.21</key>
		<string>pos.21.glif</string>
		<key>pos.22</key>
		<string>pos.22.glif</string>
		<key>pos.23</key>
		<string>pos.23.glif</string>
		<key>pos.24</key>
		<string>pos.24.glif</string>
		<key>pos.25</key>
		<string>pos.25.glif</string>
		<key>pos.26</key>
		<string>pos.26.glif</string>
		<key>pos.27</key>
		<string>pos.27.glif</string>
		<key>pos.28</key>
		<string>pos.28.glif</string>
		<key>pos.29</key>
		<string>pos.29.glif</string>
		<key>pos.3</key>
		<string>pos.3.glif</string>
		<key>pos.30</key>
		<string>pos.30.glif</string>
		<key>pos.31</key>
		<string>pos.31.glif</string>
		<key>pos.32</key>
		<string>pos.32.glif</string>
		<key>pos.33</key>
		<string>pos.33.glif</string>
		<key>pos.34</key>
		<string>pos.34.glif</string>
		<key>pos.35</key>
		<string>pos.35.glif</string>
		<key>pos.36</key>
		<string>pos.36.glif</string>
		<key>pos.37</key>
		<string>pos.37.glif</string>
		<key>pos.38</key>
		<string>pos.38.glif</string>
		<key>pos.39</key>
		<string>pos.39.glif</string>
		<key>pos.4</key>
		<string>pos.4.glif</string>
		<key>pos.40</key>
		<string>pos.40.glif</string>
		<key>pos.41</key>
		<string>pos.41.glif</string>
		<key>pos.42</key>
		<string>pos.42.glif</string>
		<key>pos.43</key>
		<string>pos.43.glif</string>
		<key>pos.44</key>
		<string>pos.44.glif</string>
		<key>pos.45</key>
		<string>pos.45.glif</string>
		<key>pos.46</key>
		<string>pos.46.glif</string>
		<key>pos.47</key>
		<string>pos.47.glif</string>
		<key>pos.48</key>
		<string>pos.48.glif</string>
		<key>pos.49</key>
		<string>pos.49.glif</string>
		<key>pos.5</key>
		<string>pos.5.glif</string>
		<key>pos.50</key>
		<string>pos.50.glif</string>
		<key>pos.51</key>
		<string>pos.51.glif</string>
		<key>pos.52</key>
		<string>pos.52.glif</string>
		<key>pos.53</key>
		<string>pos.53.glif</string>
		<key>pos.54</key>
		<string>pos.54.glif</string>
		<key>pos.55</key>
		<string>pos.55.glif</string>
		<key>pos.56</key>
		<string>pos.56.glif</string>
		<key>pos.57</key>
		<string>pos.57.glif</string>
		<key>pos.58</key>
		<string>pos.58.glif</string>
		<key>pos.59</key>
		<string>pos.59.glif</string>
		<key>pos.6</key>
		<string>pos.6.glif</string>
		<key>pos.60</key>
		<string>pos.60.glif</string>
		<key>pos.61</key>
		<string>pos.61.glif</string>
		<key>pos.62</key>
		<string>pos.62.glif</string>
		<key>pos.63</key>
		<string>pos.63.glif</string>
		<key>pos.64</key>
		<string>pos.64.glif</string>
		<key>pos.65</key>
		<string>pos.65.glif</string>
		<key>pos.66</key>
		<string>pos.66.glif</string>
		<key>pos.67</key>
		<string>pos.67.glif</string>
		<key>pos.68</key>
		<string>pos.68.glif</string>
		<key>pos.69</key>
		<string>pos.69.glif</string>
		<key>pos.7</key>
		<string>pos.7.glif</string>
		<key>pos.70</key>
		<string>pos.70.glif</string>
		<key>pos.71</key>
		<string>pos.71.glif</string>
		<key>pos.72</key>
		<string>pos.72.glif</string>
		<key>pos.73</key>
		<string>pos.73.glif</string>
		<key>pos.74</key>
		<string>pos.74.glif</string>
		<key>pos.75</key>
		<string>pos.75.glif</string>
		<key>pos.76</key>
		<string>pos.76.glif</string>
		<key>pos.77</key>
		<string>pos.77.glif</string>
		<key>pos.78</key>
		<string>pos.78.glif</string>
		<key>pos.79</key>
		<string>pos.79.glif</string>
		<key>pos.8</key>
		<string>pos.8.glif</string>
		<key>pos.80</key>
		<string>pos.80.glif</string>
		<key>pos.81</key>
		<string>pos.81.glif</string>
		<key>pos.82</key>
		<string>pos.82.glif</string>
		<key>pos.83</key>
		<string>pos.83.glif</string>
		<key>pos.84</key>
		<string>pos.84.glif</string>
		<key>pos.85</key>
		<string>pos.85.glif</string>
		<key>pos.86</key>
		<string>pos.86.glif</string>
		<key>pos.87</key>
		<string>pos.87.glif</string>
		<key>pos.88</key>
		<string>pos.88.glif</string>
		<key>pos.89</key>
		<string>pos.89.glif</string>
		<key>pos.9</key>
		<string>pos.9.glif</string>
		<key>pos.90</key>
		<string>pos.90.glif</string>
		<key>pos.91</key>
		<string>pos.91.glif</string>
		<key>pos.92</key>
		<string>pos.92.glif</string>
		<key>pos.93</key>
		<string>pos.93.glif</string>
		<key>pos.94</key>
		<string>pos.94.glif</string>
		<key>pos.95</key>
		<string>pos.95.glif</string>
		<key>pos.96</key>
		<string>pos.96.glif</string>
		<key>pos.97</key>
		<string>pos.97.glif</string>
		<key>pos.98</key>
		<string>pos.98.glif</string>
		<key>pos.99</key>
		<string>pos.99.glif</string>
		<key>space</key>
		<string>space.glif</string>
	</dict>
</plist>
